.avatar {
    display: flex;
    flex-direction: column;
    background-color: #33444e;
    margin-left: 20px;
    width: 200px;
    min-width: 200px;
    height: 300px;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}