.header {
    height: 40px;
    background-color: #009788;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}