body {
    margin: 0;
    padding: 0;
    background-color: #1d262b;
    text-align: center;
    color: white;
    font-size: 17px;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

textarea {
    margin-top: 10px;
    border: 0;
    padding: 0;
    resize: none;
    min-width: 100%;
    font-size: 14px;
    background-color: #6e6d6e;
}

input[type=submit] {
    padding: 5px 15px;
    background-color: #009788;
    color: white;
    border: 0 none;
    cursor: pointer;
}

input[type=file] {
    padding: 20px 20px;
    background: transparent;
    border: 0 none;
    cursor: pointer;
    color: white;
}



.wall {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/*.left {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*text-transform: uppercase;*/
    /*align-items: flex-end;*/
    /*min-width: 100px;*/
    /*flex-basis: 100px;*/

/*}*/

/*.left a {*/
    /*color: #009788;*/
    /*margin: 7px;*/
/*}*/

.right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
    min-width: 500px;
}

.avatar {
    display: flex;
    flex-direction: column;
    background-color: #33444e;
    margin-left: 20px;
    width: 15%;
    min-width: 200px;
    height: 300px;
}

.information {
    height: 300px;
    margin-bottom: 20px;
    background-color: #33444e;
}

.post {
    padding-top: 20px;
    background-color: #33444e;
}

.posts {
    flex-direction: column;
    align-items: stretch;
    background-color: #33444e;
    margin-bottom: 20px;
}

.post_header {
    padding: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post_avatar {
    flex-basis: 100px;
    flex-grow: 1;
    align-self: flex-start;
    align-items: stretch;
    justify-content: center;
    width: 20px;
}

.post_avatar img {
    height: 100%;
    max-height: 50px;
}

.post_data {
    flex-grow: 30;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.function {
    list-style-type: none;
}

.main {
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.images {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 370px;
}

.sub {
    text-decoration: none;
    color: #009788;
}

.post_comments {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    border: solid #6e747f;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

.comments {
    text-align: justify;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

